{% extends 'main.html'%}
{% block content %}
<style>
  .page-container{
    display: grid;
    grid-template-columns: .5fr 3fr 1fr;
    column-gap: 10px;
  }
</style>
<h1>Home Template</h1>
<div>
  <div class="page-container">
    <div class="sidebar">
      Browse Topics
      <hr>
      <a href="{% url 'home' %}">All rooms </a>
      {% for topic in topics %}
        <a href="{% url 'home' %}?q={{topic.name}}"><p>{{topic.name}}</p></a>
      {% endfor %}
    </div>
    <div>
      <p><strong>{{room_count}} Rooms Available</strong> </p>
      <a href="{% url 'createroom' %}">Create New A Room</a>
      {% for room in rooms %}
        <div>
          {% if request.user == room.host %}
          <a href="{% url 'updateroom' room.id %}">Edit</a>
          <a href="{% url 'deleteroom' room.id%}">Delete</a>
          {% endif %}
          <span>@{{ room.host.username }}</span>
          <h5>{{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}}</a></h5>
          <small>{{ room.topic.name }}</small>
          <hr>
        </div>
        
    {% endfor %}
    </div>
    <div class="activity-feed">
      <h5>Acrivity-feed</h5>
      <hr>
      
      {% for message in room_messages %}
      <small>@{{ message.user }} {{message.created|timesince}}</small>
      <p>
        {{message.body}}
      </p>
      {% endfor %}
    </div>
  </div>
  
  
</div>
{% endblock %}